/* Color Palette
    Get color palette from: https://coolors.co/
    https://coolors.co/def2c8-c5dac1-bcd0c7-a9b2ac-898980
    #DEF2C8 - Tea Green
    #C5DAC1 - Pastel Gray
    #BCD0C7 - Pastel Gray (more blu-ish)
    #A9B2AC - Silver Chalice
    #898980 - Rocket Metallic (Darker gray)
*/

/* Import font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* Global styles
------------------------------------------------------------------------------*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    background-color: #BCD0C7;
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0 10vw;
}

/* Header and Footer styles
------------------------------------------------------------------------------*/

/* header */

header h1 {
    text-align: center;
    background-color: none;
}

/* footer */
.content-wrap {
    max-width: 100vw;
    margin: 0 auto;
    padding: 30px 50px;
    overflow: auto;
}

footer {
    text-align: center;
    background-color: #BCD0C7;
    position: absolute;
    left: 0;
    right: 0;
}

footer a {
    color: #898980;
}
  
footer a:hover {
    background-color: #DEF2C8;
    color: #BCD0C7;
}
  
.contact-info a {
    /* background: white; */
    padding: 10px 25px;
    display: inline-block;
    font-size: 30px;
    margin: 0px 20px 20px;
}


/* Form Content
------------------------------------------------------------------------------*/

main {
    background-color: #DEF2C8;
    border-radius: 5px;
    padding-bottom: 20px;
}

main p:first-of-type {
    text-align: center;
    padding: 10px;
}

.input-row {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    margin: 10px 10%;
}

#name, #email, #number, .inputlabel {
    padding: 5px;
}

.submit-btn {
    text-align: center;
}

/* Media Queries
------------------------------------------------------------------------------*/

